.square {
    background: #4caf50;
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    height: 120px;
    width: 120px;
    transition: .6s;
    margin: 20px;
}

.container {
    display: grid;
    gap: 10px;
}

.square:hover {
    transform: rotate(360deg);
    background: orange;
}

.behajici-ctverec {
    background: red;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
}

.trasa {
    height: 100px;
    width: 100px;
    background-color: darkorchid;
    margin-left: 200px;
    border-radius: 10px;
}

.super-cool-animation .behajici-ctverec {
    animation: behaci-animace 1s linear infinite;
}

@keyframes behaci-animace {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(120px, 0);
    }

    50% {
        transform: translate(120px, 120px);
    }

    75% {
        transform: translate(0, 120 px);
    }

    100% {
        transform: translate(0, 0);
    }
}