nav.navigace{
    background-color: rgb(166, 226, 218);
    margin: 0;
    padding: 15px 0;
    border-radius: 10px;

}

nav.navigace ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0 auto;
    
}

nav.navigace a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav.navigace a:hover{
    color: darkblue;
}

nav.navigace a.active{
    text-decoration: underline;
}