.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  background: #4caf50;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
}

.box:first-child {
  outline: 3px solid red;
}

.box:nth-child(2n) {
  background: #ff9800;
}

@media (max-width: 900px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 600px){
    .container{
        grid-template-columns: 1fr;
    }

}